// Colors for fonts and background. all held as variables



body {
  background-color: black;
}
.nav-header {
  color: $text-color;

  .main-nav {
    color: $text-color;
  }
}

.copy-right {
  color: $text-color;
}

div {
  color: $text-color;
}

h1 {
  color: $text-color;
}

.dropdown-menu {
  color: $text-color;
}
