// main layout to the API that get called

body,
html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading {
  width: 30px;
  left: 50px;
  top: 50%;
  z-index: 99;
}

.results {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  .article-wrapper {
    width: 100%;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
    .article-abstract-wrapper {
      position: relative;
      .article {
        display: flex;
        height: 50vh;
        .please {
          .snippet {
            bottom: 0;
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            line-height: 1.5;
            font-size: 1rem;
            padding: 0.5rem;
            left: 0;
          }
        }
      }
    }
  }
}

a {
  width: 25%;
  text-decoration: none;
  font-family: $font-family;
  font-weight: 100;
}

.loading {
  display: none;
  z-index: 99;
  position: fixed;
  width: 30px;
  left: 50%;
  top: 50%;
  background: center no-repeat;
}
