// variables used more then once in webpage

// colors

$text-color: white;
$background-color: #000000;
$color__font: #c2c2c2;

// media queries for tablet and desktop

$tablet-width: 600px;

$desktop-width: 1240px;

$font-family: "OpenSans", sans-serif;
$font-size: 14px;
$line-height: 2;
